.password {
  &__hints {
    position: relative;
    background: #fff;
    box-sizing: border-box;
    width: 100%;
    z-index: 9;
    &--IN  {
      //position: absolute;
      background: #000000E5;
      padding: 2vw;
      border-radius: 0 0 1.784vw 1.784vw;
      //bottom: 5.8vw;

      @media (min-width: 1000px) {
        padding: 0.5vw;
        border-radius: 0 0 0.625vw 0.625vw;
      }

      .password__hints-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        font-family: "SFProDisplay", Arial, Helvetica, sans-serif;
        font-size: 2.379vw;
        color: #232228;

        @media (min-width: 1000px) {
          font-size: 0.908vw;
        }
      }
    }

    &-item {
      position: relative;
      padding-left: 7vw;

      font-family: "SFProDisplay", Arial, Helvetica, sans-serif;
      color: #c2bdb2;
      font-weight: 400;
      text-align: left;

      @media (min-width: 1000px) {
        padding-left: 1.5vw;
        font-size: 0.729vw;
      }

      &:not(:last-child) {
        margin-bottom: 1vw;

        @media (min-width: 1000px) {
          margin-bottom: 0.4vw;
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 60%;
        left: 5px;
        transform: translateY(-50%);
        display: block;
        width: 6px;
        height: 6px;
        background: #bbb5aa;
        border-radius: 50%;
      }

      &--success {
        color: #00d68f;

          &:before {
            content: url("../images/check-green.svg");
            background: none;
            left: 0;

            width: 5.067vw;
            height: 5.067vw;

            @media (min-width: 1000px) {
              width: 0.99vw;
              height: 0.99vw;
            }
          }
      }
    }

    &_hide {
      display: none;
    }
  }
}
